@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-dark-green-tldr: #2a7715;
  --color-dark-back: #252525;
  --color-dark-front: #839495;
  --color-mark-back: #d19696;
  --color-mark-front: #fff;
  --color-mark-back-dark: #d19696;
  --color-mark-front-dark: #000;
}

:root {
  @apply font-sans leading-normal tracking-normal;

  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  @apply text-blue-600 underline visited:text-purple-600 hover:text-blue-800;
}

nav a {
  @apply text-base! font-extrabold! text-gray-900! no-underline! hover:no-underline!;
}

nav a.text {
  @apply ml-3! text-lg!;
}

@layer base {
  body.dark {
    @apply bg-dark-back;

    a:link {
      color: #809fff;
    }
    a:visited {
      color: #966dbc;
    }
    a:hover {
      color: #ffffff;
    }

    nav {
      .contact {
        filter: invert(1) opacity(0.5) drop-shadow(0 0 0 red);
      }

      .avatar {
        @apply rounded-xl p-1;
        background: #e4e4e4;
        filter: invert(1);
      }
    }
  }
}
